@model Turtle.Models.Post

<div class="card">

	<partial name="PostInfo" model="@Model" />

</div>

<br />

<div class="ms-4">

	@foreach (var comment in Model.Comments)
	{
		<partial name="RecursiveComments" model="comment" />
	}

</div>